{{ range site.Data.projects.projects }}
<section class="project-hero">
    <div class="project-hero__container">
      <!-- Left Side (3 Columns: Title, Number, Description) -->
      <a href="{{ .link }}" class="project-hero__info">
        <div class="project-hero__title-col">
          <h1>{{ .title }}</h2>
        </div>
        <div class="project-hero__number-col">
          <h1>{{ .number }}</span>
        </div>
        <div class="project-hero__description-col">
          <h2>{{ .description }}</p>
        </div>
      </a>
  
      <!-- Right Side (Image) -->
      <div class="project-hero__image">
        <img src="{{ .image }}" alt="{{ .title }} preview" />
      </div>
    </div>
</section>
{{ end }}