<section class="hero">
    <div class="hero__container">
        <!-- Columna de Texto -->
        <div class="hero__text">
            <h1>Hello, I'm Cesar</h1>
            <h2>Finance Student | Data Enthusiast | Quant Aspirant</h2>
            <p>
                Passionate about Quantitative Finance, Coding, and Data-Driven Insights.
            </p>
            <a href="#contact" class="btn">contact me</a>

            <!-- Redes Sociales -->
            <div class="hero__socials">
                <a href="https://www.linkedin.com/in/cesar-garciaa/" target="_blank"> LinkedIn</a>
                <a href="http://github.com/NotYetFound404/" target="_blank"> GitHub</a>
            </div>
        </div>

        <!-- Columna de Imagen -->
        <div class="hero__image">
            <img src="/personal-website/home/CG2.png" alt="Cesar Garcia">
        </div>
    </div>
</section>
