@font-face {
  font-family: 'New York';
  src: url('/fonts/NewYork/NewYork.ttf') format('truetype'),
       url('/fonts/NewYork/NewYorkExtraLarge-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'New York';
  src: url('/fonts/NewYork/NewYorkExtraLarge-Black.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/*General*/
body {
  margin: 0 auto;
  background-color: #f9f9f9;
}


/* Importar css de cada seccion*/
@import "post";
@import "home/hero";
@import "home/minimal-project";
@import "home/projects-intro";
@import "home/contact-me";
@import "navbar";
@import "footer";
@import "about";

@import "blog";

@import "projects";
