<nav class="navbar">
    <ul class="navbar-menu">
        <li> <a href="{{ absURL "" }}" class="nav-link">home</a> </li>
        <li> <a href="{{ absURL "about/" }}" class="nav-link">about</a> </li>
        <li> <a href="{{ absURL "posts/" }}" class="nav-link">blog</a> </li>
        <li> <a href="{{ absURL "projects/" }}" class="nav-link">projects</a> </li>
        <li> <a href="{{ absURL "areas/" }}" class="nav-link">areas</a> </li>
        <li> <a href="{{ absURL "art/" }}" class="nav-link">art</a> </li>
        <li> <a href="{{ absURL "book-reviews/" }}" class="nav-link">book reviews</a> </li>
    </ul>
</nav>


