.projects-intro h2,
.projects-intro p {
    margin: 0.5rem 0; /* Adjust the margin values as needed */
}


.projects-intro {
    text-align: center;
    min-height: 10vh; /*add some separation with vh*/
    padding: 2rem;
    background: #f9f9f9;
}
